* {
  box-sizing: border-box;
}

body {
  background-image: url(../images/ocean-storm.jpeg);
}

.main-container {
  display: flex;
}

h1 {
  /* font-size: 20px; */
  color: white;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 40px); /* Adjust cell size as needed */
  grid-template-rows: repeat(10, 40px);
  /* gap: 1px; */
  margin: 1rem;
  /* border: 1px solid #000; */
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

/* .player-board {
  background-color: pink;
}

.computer-board {
  background-color: rgb(175, 171, 255);
} */
